/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
    font-size: 14px;
}
body {
    padding-top: 70px;
    padding-bottom: 20px;
}
.has-addon,
.form-horizontal .has-feedback .form-control-feedback.has-addon {
    right: 52px;
}
.has-feedback .form-control {
    padding-right: 28px;
}
.help-context {
    display: none;
    position: absolute;
    z-index: 3;
    opacity: 0.8;
}
@media(max-width: 1200px) {
    html {
        font-size: 12px;
    }
    .control-label {
        display: block;
    }
    .fic-page-collection {
        overflow-x: hidden;
    }
    .fic-page-container {
        width: 300%;
    }
    .fic-page-container.fic-page-current-1 {
        transition-property: margin-left;
        transition-duration: 0.5s;
        margin-left: 0;
    }
    .fic-page-container.fic-page-current-2 {
        transition-property: margin-left;
        transition-duration: 0.5s;
        margin-left: -100%;
    }
    .fic-page-container.fic-page-current-3 {
        transition-property: margin-left;
        transition-duration: 0.5s;
        margin-left: -200%;
    }
    .fic-page {
        width: 33.333%;
        float: left;
        margin: 0;
    }
}
