<!DOCTYPE html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Financial Independence calculator</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/bootstrap/bootstrap.css">
    <style>
        body {
            padding-top: 70px;
            padding-bottom: 20px;
        }
    </style>
    <link rel="stylesheet" href="css/bootstrap/bootstrap-theme.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body data-ng-app="fi-calculator" data-ng-controller="ficController">
    <div class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">FI calculator</a>
            </div>
            <div class="navbar-collapse collapse navbar-right navbar-text">
                <input type="button" value="facebook" data-ng-show="currentUserId == 'anonymous'" class="btn btn-default" data-ng-click="login()" />
                <input type="button" value="logout" data-ng-hide="currentUserId == 'anonymous'" class="btn btn-default" data-ng-click="logout()" />
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <!-- Example row of columns -->
        <div class="row">
            <form name="ficForm" class="control-label col-lg-4 form-horizontal" role="form" data-ng-submit="calculate()">

                <h3>Current state</h3>
                <hr />

                <div class="form-group has-feedback" data-ng-class="{'has-success': ficForm.age.$valid, 'has-error': ficForm.age.$invalid}">
                    <label class="control-label col-lg-4">Age</label>
                    <div class="col-lg-4">
                        <input type="number" name="age" autofocus="" data-ng-model="settings.age" data-ng-model-options="{ debounce:200 }" data-ng-change="calculate()" min="0" max="120" step="1" required="true" class="form-control" />
                        <span class="glyphicon form-control-feedback" data-ng-class="{'glyphicon-ok': ficForm.age.$valid, 'glyphicon-warning-sign': ficForm.age.$invalid}"></span>
                    </div>
                </div>
                <div class="form-group has-feedback" data-ng-class="{'has-success': ficForm.networth.$valid, 'has-error': ficForm.networth.$invalid}">
                    <label class="control-label col-lg-4">Current net worth</label>
                    <div class="col-lg-8">
                        <div class="input-group">
                            <span class="input-group-addon">$</span>
                            <input type="number" name="networth" data-ng-model="settings.networth" data-ng-model-options="{ debounce:200 }" data-ng-focus="toggleHelp($event)" data-ng-blur="toggleHelp($event)" data-ng-change="calculate()" min="0" step="1" required="true" class="form-control" />
                        </div>
                        <span class="glyphicon form-control-feedback" data-ng-class="{'glyphicon-ok': ficForm.networth.$valid, 'glyphicon-warning-sign': ficForm.networth.$invalid}"></span>
                        <div class="well help-context" data-for="networth">
                            This is the total amount of money you'd have if you were to liquidate all your assets today.
                        </div>
                    </div>
                </div>
                <div class="form-group has-feedback" data-ng-class="{'has-success': ficForm.savings.$valid, 'has-error': ficForm.savings.$invalid}">
                    <label class="control-label col-lg-4">Savings per month</label>
                    <div class="col-lg-8">
                        <div class="input-group">
                            <span class="input-group-addon">$</span>
                            <input type="number" name="savings" data-ng-model="settings.savings" data-ng-model-options="{ debounce:200 }" data-ng-change="calculate()" min="0" step="1" required="true" class="form-control" />
                        </div>
                        <span class="glyphicon form-control-feedback" data-ng-class="{'glyphicon-ok': ficForm.savings.$valid, 'glyphicon-warning-sign': ficForm.savings.$invalid}"></span>
                    </div>
                </div>
                <div class="form-group has-feedback" data-ng-class="{'has-success': ficForm.withdrawal.$valid, 'has-error': ficForm.withdrawal.$invalid}">
                    <label class="control-label col-lg-4">Withdrawal</label>
                    <div class="col-lg-5">
                        <div class="input-group">
                            <input type="number" name="withdrawal" data-ng-model="settings.withdrawal_rate" data-ng-model-options="{ debounce:200 }" data-ng-focus="toggleHelp($event)" data-ng-blur="toggleHelp($event)" data-ng-change="calculate()" min="0" max="100" step="0.01" required="true" class="form-control" />
                            <span class="input-group-addon">%</span>
                        </div>
                        <span class="glyphicon form-control-feedback has-addon" data-ng-class="{'glyphicon-ok': ficForm.withdrawal.$valid, 'glyphicon-warning-sign': ficForm.withdrawal.$invalid}"></span>
                        <div class="well help-context" data-for="withdrawal">
                            The % of your portfolio you'll be using to pay for your expenses every year.
                        </div>
                    </div>
                </div>
                <div class="form-group has-feedback" data-ng-class="{'has-success': ficForm.goal.$valid, 'has-error': ficForm.goal.$invalid}">
                    <label class="control-label col-lg-4">Goal</label>
                    <div class="col-lg-8">
                        <div class="input-group">
                            <span class="input-group-addon">$</span>
                            <input type="number" name="goal" data-ng-model="settings.goal" data-ng-model-options="{ debounce:200 }" data-ng-focus="toggleHelp($event)" data-ng-blur="toggleHelp($event)" data-ng-change="calculate()" min="0" step="1" required="true" class="form-control" />
                        </div>
                        <span class="glyphicon form-control-feedback" data-ng-class="{'glyphicon-ok': ficForm.goal.$valid, 'glyphicon-warning-sign': ficForm.goal.$invalid}"></span>
                        <div class="well help-context" data-for="goal">
                            The amount of money you need to pay for your expenses at retirement in today's dollars.
                        </div>
                    </div>
                </div>

                <h3>Predictions</h3>
                <hr />

                <div class="form-group has-feedback" data-ng-class="{'has-success': ficForm.inflation.$valid, 'has-error': ficForm.inflation.$invalid}">
                    <label class="control-label col-lg-4">Inflation</label>
                    <div class="col-lg-5">
                        <div class="input-group">
                            <input type="number" name="inflation" data-ng-model="settings.inflation" data-ng-model-options="{ debounce:200 }" data-ng-change="calculate()" min="0" max="100" step="1" required="true" class="form-control" />
                            <span class="input-group-addon">%</span>
                        </div>
                        <span class="glyphicon form-control-feedback has-addon" data-ng-class="{'glyphicon-ok': ficForm.inflation.$valid, 'glyphicon-warning-sign': ficForm.inflation.$invalid}"></span>
                    </div>
                </div>
                <div class="form-group has-feedback" data-ng-class="{'has-success': ficForm.ror.$valid, 'has-error': ficForm.ror.$invalid}">
                    <label class="control-label col-lg-4">Rate of return</label>
                    <div class="col-lg-5">
                        <div class="input-group">
                            <input type="number" name="ror" data-ng-model="settings.ror" data-ng-model-options="{ debounce:200 }" data-ng-change="calculate()" min="0" max="100" step="1" required="true" class="form-control" />
                            <span class="input-group-addon">%</span>
                        </div>
                        <span class="glyphicon form-control-feedback has-addon" data-ng-class="{'glyphicon-ok': ficForm.ror.$valid, 'glyphicon-warning-sign': ficForm.ror.$invalid}"></span>
                    </div>
                </div>
                <h3>Chart</h3>
                <hr />
				<div class="row" data-ng-controller="ficChart">
					<canvas id="fichart" width="400" height="400" style="margin: 0 auto; display: block;"></canvas>
				</div>
            </form>
            <div class="col-lg-8">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Age
                            </th>
                            <th>
                                Saving
                            </th>
                            <th>
                                Net worth
                            </th>
                            <th>
                                Goal
                            </th>
                            <th>
                                Withdrawal
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="period in FIC.periods" data-ng-class="{success: (period.withdrawal_amount >= period.goal)}">
                            <td>
                                {{period.age | number}}
                            </td>
                            <td>
                                {{period.savings | currency}}
                            </td>
                            <td>
                                {{period.networth | currency}}
                            </td>
                            <td>
                                {{period.goal | currency}}
                            </td>
                            <td>
                                {{period.withdrawal_amount | currency}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <hr>

        <footer>
            <p>&copy; Opensourceportfolio 2014</p>
        </footer>
    </div>
    <!-- /container -->

    <script id="facebook-jssdk" src="//connect.facebook.net/en_US/sdk.js"></script>
    <script src="js/vendor/jquery-1.11.0.js"></script>
    <script src="js/vendor/angular/angular.js"></script>
    <script src="js/vendor/bootstrap/bootstrap.js"></script>
    <script src="js/vendor/chartjs/Chart.js"></script>

    <script src="js/main.js"></script>
    <script src="js/model/ficPeriods.js"></script>
    <script src="js/controller/fic.js"></script>
    <script src="js/controller/ficChart.js"></script>
    <script src="js/service/ficService.js"></script>
    <script src="js/service/ficSettings.js"></script>
    <script src="js/service/ficUserService.js"></script>
    <script src="js/service/ficChartService.js"></script>
</body>

</html>
